<h1>Edit Car</h1>

<p>
	<%= link_to "Back", @car %>
</p>

<%= form_for @car do |c| %>

	<p>
		<%= c.label "model" %>
		<%= c.text_field "model" %>
	</p>
	<p>
		<%= c.label "manufacturer" %>
		<%= c.text_field "manufacturer" %>
	</p>
	<p>
		<%= c.label"url" %>
		<%= c.text_field"url" %>
	</p>
	<p>
		<%= c.submit "Submit" %>
	</p>
	<% end %>