<h1>Welcome to Autogur (<%= @cars.length %>)</h1>
<%= link_to "Add Car", "/cars/new" %>

<% @cars.each do |car| %>
	<p><%= car.model %>, 
	   <%= car.manufacturer %>
	</p>
	<%= link_to image_tag(car.url), "/cars/#{car.id}" %>
<% end %>

<h1>Most recent cars</h1>

<ul>
  <% @most_recent_cars.each do |car| %>
    <li><%= car.model %></li>
  <% end %>
</ul>